## Assignment 3

#### 1. What are the characteristics of the tuples? Is tuple immutable?

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

Tuples are immuatable.

#### 2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

In [1]:
# method 1 - Count
tuple1 = (1,2,3,4,5,5)
tuple1.count(5)

2

In [2]:
# method 2 - index
tuple1.index(2)

1

Tuple have only two in-built methods as compared to Lists because Tuples are immutable in nature.

#### 3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list.

In [3]:
lst = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [4]:
lst = list(set(lst))
lst

[1, 2, 3, 4]

#### 4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

In [5]:
set1 = {1,2,3,4,5,6,7,8,9}

In [6]:
set2 = {7,8,9,10,12,13,14}

In [7]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14}

In [8]:
set1.update(set2)
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14}

In [9]:
set2

{7, 8, 9, 10, 12, 13, 14}

union() method returns a new set that contains all unique elements from both sets 

update() method adds all elements from one set to another. This method modifies the set1.

#### 5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

A Dictionary is a collection of key-value pairs where each key is unique and maps to a value.
Dictionary is unordered meaning that items have no index.

In [10]:
person = {"name":"RMS",
         "age" : 20,
         "country":"India"}
person

{'name': 'RMS', 'age': 20, 'country': 'India'}

#### 6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

Yes, We can create nested dictionary

In [11]:
person = {"name":"RMS",
         "age" : 20,
         "address": {"city": "Ahmedabad",
      "state": "Gujarat"}
         }
person

{'name': 'RMS',
 'age': 20,
 'address': {'city': 'Ahmedabad', 'state': 'Gujarat'}}

#### 7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning'] in dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [12]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault('topics', ['Python', 'Machine Learning', 'Deep Learning'])
print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

#### 8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary. dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

There are three view Objects in Dictionaries
1. keys
2. values
3. items

In [13]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [14]:
print("keys:", dict1.keys())

keys: dict_keys(['Sport', 'Teams'])

In [15]:
print("values:", dict1.values())

values: dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [16]:
print("items:", dict1.items())

items: dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])