## MySQL Assignment

#### 1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized in a way that allows easy access, management, and updating of the data. It is used to store, retrieve, and manage large amounts of information efficiently.

##### SQL

SQL (Structured Query Language) databases are relational databases that store data in tables, which are related to each other through foreign keys. SQL databases are known for their ability to handle complex queries, their strict data consistency, and their support for transactions. Popular SQL databases include MySQL, Oracle, and PostgreSQL.

##### NoSQL

NoSQL (Not Only SQL) databases, on the other hand, use a different data model than SQL databases. They store data in a flexible, unstructured format, such as key-value pairs or document-based databases. NoSQL databases are often used for large-scale data storage, real-time web applications, and big data processing. Examples of NoSQL databases include MongoDB, Cassandra, and Redis.

#### 2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL that is used to define and manage the structure of a database. It includes commands for creating, modifying, and deleting database objects such as tables, indexes, and views.

CREATE is used to create a new table in a database. For example, the following SQL command creates a table named "employees":

In [ ]:
CREATE TABLE employees (
id INT PRIMARY KEY,
name VARCHAR(50),
salary DECIMAL(10, 2)
);

DROP is used to delete an existing table from the database. For example, the following SQL command deletes the "employees" table:

In [ ]:
DROP TABLE employees;

ALTER is used to modify an existing table by adding or removing columns, changing column data types, or modifying table constraints. 
For example, the following SQL command adds a new column named "department" to the "employees" table:

In [ ]:
ALTER TABLE employees
ADD COLUMN department VARCHAR(50);

TRUNCATE is used to delete all the data from a table, but the table structure remains intact. For example, the following SQL command deletes all the data from the "employees" table:

In [ ]:
TRUNCATE TABLE employees;

#### 3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a subset of SQL that is used to manipulate the data in a database. It includes commands for inserting, updating, and deleting data in database tables.

INSERT is used to add new rows of data to a table. For example, the following SQL command inserts a new row into the "employees" table:

In [ ]:
INSERT INTO employees (id, name, salary)
VALUES (1, 'rms', 50000);

UPDATE is used to modify existing data in a table. For example, the following SQL command updates the salary of the employee with an ID of 1:

In [ ]:
UPDATE employees
SET salary = 55000
WHERE id = 1;

DELETE is used to delete rows of data from a table. For example, the following SQL command deletes the employee with an ID of 1:

In [ ]:
DELETE FROM employees
WHERE id = 1;

#### 4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL that is used to retrieve data from a database. It includes commands for querying data in database tables.

SELECT is the most commonly used DQL command. It is used to retrieve data from one or more tables in a database. For example, the following SQL command selects all the data from the "employees" table:

In [ ]:
SELECT * FROM employees;

#### 5. Explain Primary Key and Foreign Key.

##### Primary Key

A primary key is a special type of constraint used in a database to uniquely identify each row in a table. It can be a single column or a combination of columns in a table, but it must be unique and cannot contain null values. Primary keys are used to enforce referential integrity between tables and to ensure that each row in a table can be uniquely identified.

##### Foreign Key

A foreign key is a column in a table that refers to the primary key of another table. It establishes a link between two tables and allows data to be retrieved from multiple tables using a single query. Foreign keys are used to enforce referential integrity between tables and to ensure that data is consistent across tables. When a foreign key is defined, it must refer to an existing primary key in another table, or it must be null if the relationship is optional.

In summary, a primary key is used to uniquely identify each row in a table, while a foreign key is used to link two tables together based on a common column.

#### 6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="123"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM orders")

# Fetch the result
result = mycursor.fetchall()

# Print the result
for row in result:
  print(row)

##### cursor() method:

When we connect to a database using Python, we need a cursor object to execute SQL queries.

We can create a cursor object using the cursor() method of the database connection object.

The cursor object is used to execute SQL statements and fetch results from the database.

We can have multiple cursor objects associated with a single database connection.

##### execute() method

The execute() method of the cursor object is used to execute SQL statements.

We can pass the SQL statement as a string to the execute() method.

The execute() method returns None if the SQL statement does not return any results, or returns a cursor object if the SQL statement returns a result set.

#### 7. Give the order of execution of SQL clauses in an SQL query.

FROM: This clause specifies the table or tables that the query is retrieving data from.
    
JOIN: This clause is used to combine data from two or more tables based on a common column.
    
WHERE: This clause is used to filter the rows that match a specified condition.
    
GROUP BY: This clause is used to group the result set based on one or more columns.
    
HAVING: This clause is used to filter the groups that match a specified condition.
    
SELECT: This clause is used to select the columns that should be included in the result set.
    
DISTINCT: This keyword is used to remove duplicate rows from the result set.
    
ORDER BY: This clause is used to sort the result set based on one or more columns.
    
LIMIT: This clause is used to limit the number of rows returned by the query.